
    * {
      box-sizing: border-box;
    }
    
    /* Style the body */
    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
    }
    
    /* Header/logo Title */
    .header {
      padding: 0px;
      text-align: center;
      background: #1abc9c;
      color: white;
    }
    
    /* Increase the font size of the heading */
    .header h1 {
      font-size: 40px;
    }
    
    /* Style the top navigation bar */
    #navbar {
      overflow: hidden;
      background-color: #191970;
      font-family: Helvetica, sans-serif; 
    }
    
    #navbar a {
      float: right;
      display: block;
      color: #ffffff;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 16px;
      margin-right: 20px;
      font-family: arial;
      font-weight: bold;
    }
    
    #navbar a:hover {
      background-color: #E6E6FA;
      color: black;
    }
    
    #navbar a.active {
      background-color: #DC143C;
      color: white;
    }



    .content {
      padding: 16px;
    }
    
    .sticky {
      position: fixed;
      top: 0;
      width: 100%
    }
    
    .sticky + .content {
      padding-top: 60px;
    }
    
    ---------
    
    .slideshow-container {
      max-width: 50px;
      position: relative;
      margin: auto;
    }
    
    .mySlides {display:none;}
    
    p{
      margin-top: 5px;
      margin-bottom: 5px;
      text-align: justify;
      font-size: 15px;
    
    }
    
    
    /* Column container */
    .row {  
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
    }
    
    /* Create two unequal columns that sits next to each other */
    /* Sidebar/left column */
    .side {
      -ms-flex: 30%; /* IE10 */
      flex: 30%;
      background-color: #f1f1f1;
      padding: 20px;
    }
    
    /* Main column */
    .main {   
      -ms-flex: 70%; /* IE10 */
      flex: 70%;
      background-color: white;
      padding: 20px;
    }
    
    /* Fake image, just for this example */
    .fakeimg {
      background-color: #aaa;
      width: 100%;
      padding: 20px;
    }
    
    /* Footer */
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 7%;
      color: white;
      background-color: #191970;
      
   
   }

  

    
    /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 700px) {
      .row {   
        flex-direction: column;
      }
    }
    
    /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
    @media screen and (max-width: 400px) {
      .navbar a {
        float: none;
        width: 100%;
      }
    }
  





    #foot {
      overflow: hidden;
      background-color: #191970;
      font-family: Helvetica, sans-serif; 
    }
    
    #foot a {
      float: left;
      display: block;
      color: #ffffff;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 28px;
      margin-right: 20px;
      font-family: arial;
      font-weight: bold;
    }
    
    #foot a:hover {
      background-color: #E6E6FA;
      color: black;
    }
    
    #foot a.active {
      background-color: #DC143C;
      color: white;
    }


.est p{
    margin-top: 230px;
  }


  .con {
    border-radius: 10px;
    padding: px;
    width: 200px;
    margin:px;
}


label{
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 20px;
}



.row p{
  font-size: 18px;
}

ul{
  padding: 0;
  position: relative;
  width: 100%;
  margin-top: 10px;
  
}

ul li{
  list-style: none;
  float: right;
  color: black;
  font-family: arial;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 20px;
  margin-top: -5px;
  

}

ul li:hover,
.active
{
  background: gray;
  color: white;
}

